{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-au-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <h1>Editar Datos de alumnos</h1><br>
        <br>

        <button type="button">
            <a href="{% url 'alumnosAdd' %}">Agregar</a>
        </button>

        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>

        <table>
            {% if alumnos %}
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido p.</th>
                <th>Eliminar</th>
                <th>Modificar</th>
                {% for alumno in alumnos %}
                    <tr>
                        <td>{{alumno.rut}}
                        <td>{{alumno.nombre}}
                        <td>{{alumno.apellido_paterno}} 
                        <td><a href="{% url 'alumnos_del' pk=alumno.rut %}">Eliminar</a>
                        <td><a href="{% url 'alumnos_findEdit' pk=alumno.rut %}">Modificar</a>
                        
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function)(){
            setTimeout(function(){
                $('#idMensajes').delay(2000).fadeOut("slow");
            }, 3000);
        }
    </script>
</body>
</html>